# Core functionality - changes here should be rare!
/src/app.py                   @PhyoThihaWin
/src/backend/database.py      @PhyoThihaWin
/src/backend/routers/auth.py  @PhyoThihaWin

# The frontend will need refactored soon to be more object oriented.
/src/static/   @PhyoThihaWin
